<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Type your word: </ion-label>
    <ion-input [(ngModel)]="value" clearInput></ion-input>
  </ion-item>

  <ion-button expand="full" [routerLink]="['/second', value]" >Push with Router Link</ion-button>
  <ion-button expand="full" (click)="pushPage(value)">Push with Function</ion-button>
  <ion-button expand="full" (click)="pushModal(value)">Open with Modal</ion-button>
  <ion-button expand="full" (click)="pushPopover(value)">Open with Popover</ion-button>
</ion-content>
